<div class="divbody">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand">Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#cartModal">Ver Carrito</a>
            </li>
        </ul>
      </div>
    </nav>

    <!-- Aqui empieza el album -->

    <main>
        <section class="jumbotron text-center my-5">
          <div class="container">
            <h1 class="jumbotron-heading">Productos Disponibles</h1>
          </div>
        </section>

        <div class="album py-5 bg-light">
          <div class="container">
            <div class="row">
              
              <div *ngFor="let product of products" class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="{{product.photo}}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">{{product.name}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#orderModal">Ordenar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </main>

    <!-- Aqui termina el album -->
    <!-- Aqui empieza el modal de orden -->
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="policeTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="policeTitle">Orden Nueva</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" #close>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group row mx-1">
              <label for="nameInput">Dirección</label>
              <input id="nameInput" class="form-control mb-4" [(ngModel)]="nombre" type="text">
            </div>
            <div class="form-group row mx-1">
              <label for="phoneInput">Número de Teléfono</label>
              <input id="phoneInput" class="form-control mb-4" [(ngModel)]="telefono" type="text">
            </div>
            <div class="form-group row mx-1">
              <label for="costInput">Cantidad</label>
              <input id="costInput" class="form-control mb-4" [(ngModel)]="cantidad" type="number">
            </div>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary">Cancelar</button>
            <button type="button" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </div>
    </div>
<!-- Aqui termina el modal del orden -->
<!-- Aqui empieza el modal del carrito -->
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="policeTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="policeTitle">Shopping Cart</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" #close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <div class="form-group row">                
                <img *ngIf="imgSrc" [src]="imgSrc" alt="Vista Previa" class="img-thumbnail m-3">
              </div>
              <div class="form-group row mx-1">
                <label >Nombre</label>                
              </div>
              <div class="form-group row mx-1">
                <label>Precio</label>
              </div>  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary">Cancelar</button>
              <button type="button" class="btn btn-primary"  data-dismiss="modal" #close>Checkout</button>
            </div>
          </div>
        </div>
      </div>
<!-- Aqui termina el modal del carrito -->

</div>