<div class="divbody text-center bg-dark">
    <form class="form-signin bg-light mx-4 rounded">
      <h1 class="h3 mb-3 font-weight-normal">Store</h1>
      <label for="inputEmail" class="sr-only">Credenciales</label>
      <input [(ngModel)]="user" name="credInput" type="text" id="inputEmail" class="form-control my-2" placeholder="Credenciales">
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input [(ngModel)]="password" name="credPassword" type="password" id="inputPassword" class="form-control mb-4" placeholder="Clave">
      <button (click)="guardar()" name="credButton" class="btn btn-lg btn-primary btn-block" type="button">Ingresar</button>
    </form>
</div>